//Colors
h1, h2, h3, h4 {
  color: $primary;
}

// Medias

@media (min-width: 992px) {  
	main > .container, 
	nav > .container {
    min-width: 90% !important;
    max-width: 90% !important;
  }
}

#title-app {
	color: transparent !important;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #19191c;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
  text-transform: uppercase;
}
#title-app-shadow {
	text-shadow: 0.03em 0.03em 0 $primary;
  text-transform: uppercase;
}

input[type="checkbox"] {
 display: none;
}
input[type="checkbox"] + label span {
  background-color: rgb(241, 241, 241);
  display:inline-block;
  width:20px;
  height:20px;
  margin:-1px 4px 0 0;
  vertical-align:middle;  
  cursor:pointer;
}
input[type="checkbox"]:checked + label span {
  background-color: $primary;
}

.form-check-label{
  font-size: 1rem;
}

ul#main-navigation {
  li.col-nav-item {
    &::before {
      content: '';
    }

    @media (min-width: 768px) {  
      width: 33.3%;
      float: left;
    }

    @media (min-width: 992px) {  
      width: 25%;
      float: left;
    }

    @media (min-width: 1040px) {  
      width: 20%;
      float: left;
    }

    a.nav-link {
      color: $primary;
    }
  }
}

table#tabla-alimentacion { 
 
  text-align: left;
  position: relative;
  border-collapse: collapse; 

  thead {
    color: $primary;
    position: sticky;
    top: 0;
  
    tr {
      background-color: $white;
      box-shadow: 0 2px 2px -1px $light-gray;

      th {
        position: sticky;
        top: 0;
      }
    }
  }  
}

table#tabla-informe-consolidado {
  
  text-align: left;
  position: relative;
  border-collapse: collapse; 

  .fixed-column {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    background-color: $light-gray;
    z-index: 2;
  }

  thead {
    color: $primary;
    position: sticky;
    top: 0;
  
    tr {
      background-color: $white;
      box-shadow: 0 2px 2px -1px $light-gray;

      th {
        background-color: $white;
        position: sticky;
        top: 0;
      }
    }
  }
  tbody {
    max-height: 80vh;
  }

}