.table {
    border-spacing: 0;
}

.thead-primary th {
    background: $primary;
    color: $white;
}


.table-sticky {

  thead {
    color: $primary;
    position: sticky;
    top: 0;
  
    tr {
      background-color: $white;
      box-shadow: 0 2px 2px -1px $light-gray;

      th {
        position: sticky;
        top: 0;
      }
    }
  }

}
