.table-cebra {
    // border-top: solid 1px #ccc;
    border-spacing: 0;
}

.table-cebra thead th {
    background: $primary;
    color: $white;
}

.table-cebra th,
.table-cebra td {
    // border-right: 1px solid #ccc;
    padding: 0.5rem;
    text-align: left;
}
/*


.table-cebra tbody tr:nth-child(2n) {
    background: #f2f2f2;
}

.table-container {
    max-width: 100%;
    overflow-x: scroll;
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
}

#table-container2 {
    overflow-y: scroll;
    max-width: 100%;
    max-height: 400px;
}

.table-cebra .sticky {
    position: sticky;
    left: 0;
}

#table-cebra2 #sticky {
    position: sticky;
    top: 0;
}

.table-cebra tbody tr .sticky {
    background: white;
}

.table-cebra tbody tr:nth-child(2n) .sticky {
    background: #f2f2f2;
}
*/
table#tabla-alimentacion { 
 
    text-align: left;
    position: relative;
    border-collapse: collapse; 
  
    thead {
      color: $primary;
      position: sticky;
      top: 0;
    
      tr {
        background-color: $white;
        box-shadow: 0 2px 2px -1px $light-gray;
  
        th {
          position: sticky;
          top: 0;
        }
      }
    }  
}

table#tabla-consolidado { 
 
    text-align: left;
    position: relative;
    border-collapse: collapse; 
  
    thead {
      color: $primary;
      position: sticky;
      top: 0;
    
      tr {
        background-color: $white;
        box-shadow: 0 2px 2px -1px $light-gray;
  
        th {
          position: sticky;
          top: 0;
        }
      }
    }  
}

table#tabla-ciclo { 
 
    text-align: left;
    position: relative;
    border-collapse: collapse; 
  
    thead {
      color: $primary;
      position: sticky;
      top: 0;
    
      tr {
        background-color: $white;
        box-shadow: 0 2px 2px -1px $light-gray;
  
        th {
          position: sticky;
          top: 0;
        }
      }
    }  
}

table#tabla-produccion { 
 
    text-align: left;
    position: relative;
    border-collapse: collapse; 
  
    thead {
      color: $primary;
      position: sticky;
      top: 0;
    
      tr {
        background-color: $white;
        box-shadow: 0 2px 2px -1px $light-gray;
  
        th {
          position: sticky;
          top: 0;
        }
      }
    }  
}

table#tabla-siembras { 
 
    text-align: left;
    position: relative;
    border-collapse: collapse; 
  
    thead {
      color: $primary;
      position: sticky;
      top: 0;
    
      tr {
        background-color: $white;
        box-shadow: 0 2px 2px -1px $light-gray;
  
        th {
          position: sticky;
          top: 0;
        }
      }
    }  
}

table#tabla-siembra { 
 
  text-align: left;
  position: relative;
  border-collapse: collapse; 

  thead {
    color: $primary;
    position: sticky;
    top: 0;
  
    tr {
      background-color: $white;
      box-shadow: 0 2px 2px -1px $light-gray;

      th {
        position: sticky;
        top: 0;
      }
    }
  }  
}

table#tabla-parametro { 
 
  text-align: left;
  position: relative;
  border-collapse: collapse; 

  thead {
    color: $primary;
    position: sticky;
    top: 0;
  
    tr {
      background-color: $white;
      box-shadow: 0 2px 2px -1px $light-gray;

      th {
        position: sticky;
        top: 0;
      }
    }
  }  
}

table#tabla-parametros { 
 
  text-align: left;
  position: relative;
  border-collapse: collapse; 

  thead {
    color: $primary;
    position: sticky;
    top: 0;
  
    tr {
      background-color: $white;
      box-shadow: 0 2px 2px -1px $light-gray;

      th {
        position: sticky;
        top: 0;
      }
    }
  }  
}

table#tabla-recursos { 
 
  text-align: left;
  position: relative;
  border-collapse: collapse; 

  thead {
    color: $primary;
    position: sticky;
    top: 0;
  
    tr {
      background-color: $white;
      box-shadow: 0 2px 2px -1px $light-gray;

      th {
        position: sticky;
        top: 0;
      }
    }
  }  
}

table#tabla-recurso { 
 
  text-align: left;
  position: relative;
  border-collapse: collapse; 

  thead {
    color: $primary;
    position: sticky;
    top: 0;
  
    tr {
      background-color: $white;
      box-shadow: 0 2px 2px -1px $light-gray;

      th {
        position: sticky;
        top: 0;
      }
    }
  }  
}

table#tabla-biomasa { 
 
  text-align: left;
  position: relative;
  border-collapse: collapse; 

  thead {
    color: $primary;
    position: sticky;
    top: 0;
  
    tr {
      background-color: $white;
      box-shadow: 0 2px 2px -1px $light-gray;

      th {
        position: sticky;
        top: 0;
      }
    }
  }  
}
